<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Error</title>
    <link rel="stylesheet" th:href="@{/css/style.css}">
</head>
<body>
<script th:src="@{/js/script.js}"></script>

<nav class="navbar">
    <div class="logo">Sweet Crumbs Bakery</div>
    <div>
        <a href="/">Home</a>
        <a href="/dashboard">Dashboard</a>
    </div>
</nav>

<div class="form-container">
    <h2>Something Went Wrong</h2>
    <p class="form-text">Please check your input or go back to the home page.</p>

    <a href="/" class="btn full-btn">Go Home</a>
</div>

</body>
</html>